<!-- Include Header -->
<%- include('partials/header'); %>
  <!-- Include Footer -->
  <!-- Jumbotron -->
  <br>
  <div id="intro" class="p-5  text-center bg-light">
    <h1>Create Custom Text For Typing Master</h1>
    <p>The Best & The Easy Way</p>
    <a class="btn btn-primary m-2" href="/create" role="button" rel="nofollow">Create
      Your Own</a>
    <a class="btn btn-primary m-2" href="/download/all" target="_blank" role="button">Download All Paragraphs</a>
  </div>
  <!-- Jumbotron -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
        <!-- <h4 class="mb-5"><strong>Latest posts</strong></h4> -->

        <div class="row">

          <% posts.forEach(post=> { %>

            <div class="col-lg-4 col-md-12 mb-4">
              <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    <%= post.title %>
                  </h5>
                  <p class="card-text">
                    ... <%- post.description.substring(20, 60); %> ...
                  </p>

                  <% var id=post._id; %>

                    <input type="text" name="input1" id="filename" value="<%= post.title %>" onkeyup=" chkIfEmpty()" hidden>


                    <textarea cols="100" rows="10" id="textarea1" onkeyup=" chkIfEmpty()" hidden><%= post.description %> </textarea>
                    <textarea cols="100" rows="10" id="textarea2" hidden></textarea>
                    <textarea cols="100" rows="10" id="textarea3" hidden></textarea>

                    <a href="/read/<%= id %>" class="btn btn-primary">Read</a>
                    <!-- <a href="/download/<%= id; %>" class="btn btn-primary">Download</a> -->
                    <button id="btn" class="btn btn-primary">Download</button>
                </div>
              </div>
            </div>



            <% }) %>
        </div>


      </section>
      <!--Section: Content-->

      <!-- Pagination -->
      <nav class="my-4" aria-label="...">
        <ul class="pagination pagination-circle justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </main>
  <!--Main layout-->

  <script type="text/javascript">
    window.onload = function () {

      chkIfEmpty();
    }
  </script>

  <script>



    function chkIfEmpty() {
      if ((document.getElementById("filename").value === "")) {
        document.getElementById('btn').disabled = true;
      } else {
        var str = document.getElementById('textarea1').value;
        str = str
          .replace('”', '"')
          .replace('“', '"')
          .replace('’', "'")
          .replace('‘', "'")
          .replace(/[\u2018\u2019]/g, "'")
          .replace(/[\u201C\u201D]/g, '"')
          .replace(/[\u2013\u2014]/g, '-')
          .replace(/[\u2026]/g, '...')
          .replace(/(<([^>]+)>)/ig, '')
          .replace(/&nbsp;/gi, ' ')
          .normalize("NFD").replace(/[\u0300-\u036f]/g, "")
          ;

        // console.log('Hey Its me String :- ' + str);

        document.getElementById('textarea3').value = str;

        const test = document.getElementById('textarea3').value

        // console.log('Hey Its me Text area 3 after str op :- ' + test);


        // document.getElementById('btn').disabled = false;

      }

    }

    function autoReload() {
      location.reload(true);
    }

    function download(name, text) {
      var element = document.createElement('a');
      element.setAttribute(
        'href',
        'data:text/plain;charset=utf-8,' + encodeURIComponent(text)
      );
      element.setAttribute('download', name);

      element.style.display = 'none';
      document.body.appendChild(element);

      element.click();

      document.body.removeChild(element);
    }

    // Start file download.

    document.getElementById('btn').addEventListener(
      'click',
      function () {
        // Generate download of hello.txt file with some content
        var filename = document.getElementById('filename').value;


        const textDesc = document.getElementById('textarea3').value;


        var exiGen =
          'name=' +
          filename +
          '\n' +
          'description=' +
          filename +
          '\n' +
          'language=eng';

        var exmGen =
          textDesc;


        // console.log('Hey Im Exm Gen :- ' + exmGen);

        document.getElementById('textarea2').value = exiGen;
        document.getElementById('textarea3').value = exmGen;

        // console.log('Hey Im Text area 3 :- ' + exmGen);


        var text = document.getElementById('textarea3').value;
        var text1 = document.getElementById('textarea2').value;

        var exmFile = filename + '.exm';
        var exiFile = filename + '.exi';

        download(exmFile, text);
        download(exiFile, text1);
      },
      false
    );
  </script>


  <%- include('partials/footer'); %>
